.content {
  width: 700px;
  /*margin: 0 auto;*/
  left: 40%;
position: absolute;



}

.title {
  
  font-family: Verdana, sans-serif;
  color: blue;
}

  .input {
  display: flex;
}
  .btn {
  cursor: pointer;
  color: white;
  display: flex;
  text-align: center;
  padding: 15px;
  background: blue;
  border: none;
}

  .btn:active, .btn:focus { outline: none !important; }
  
  .btn:hover {transform: scale(1.1);}

.filter {
  margin: 0 auto;
}

a {
  padding-right: 15px;
}