

	.input {
	display: flex;
	justify-content: flex-start;
}
	.btn {
	cursor: pointer;
	color: white;
	display: flex;
	text-align: center;
	padding: 15px;

}
.field {
	background: white;
}
	.btn:active, .btn:focus { outline: none !important; }
	
	.btn:hover {transform: scale(1.1);}