

	.input {
	display: flex;
}
	.btn {
	cursor: pointer;
	color: white;
	display: flex;
	text-align: center;
	padding: 15px;
	background: blue;
	border: none;
}

	.btn:active, .btn:focus { outline: none !important; }
	
	.btn:hover {transform: scale(1.1);}